@charset "UTF-8";

#imgHeader{
   position: relative; 
   text-align: center;
   z-index: 1;
}

#headerText{
	position: absolute;
  	top: 8px;
  	right: 16px;
  	z-index: 2;
  	
  	
}

#headerLogo{
	position: absolute;
	z-index: 2;
	top: 8px;
  	left: 16px;
}

#text{
	text-decoration: none;
	color: #0B1F54;
}
