
hr{
	margin: 0;
}
#imgHeader{
   position: relative; 
   text-align: center;
   z-index: 1;
}

#headerText{
	position: absolute;
  	top: 15px;
  	right: 30px;
  	z-index: 2;	
  	font-size: 20px;
  	font-weight: bold;
}

#headerLogo{
	position: absolute;
	z-index: 2;
	top: 8px;
  	left: 16px;
}

#text{
	text-decoration: none;
	color: #0B1F54;
}


