@charset "UTF-8";

#logoMain{
	padding : 10px;
	text-align: center;
}
#contentMain{
	display: flex;
	text-align: center;
}
#contentMainSub{
	margin: auto;
	display: flex;
	padding: 8px 20px;
}

.contentMainSearch{
	margin: 5px;
	padding: 120px 20px;
	background: #D7E6F4;
	width: 180px;
}
.contentMainReserve{
	margin: 5px;
	padding: 120px 20px;
	background: #D7E6F4;
	width: 180px;
}
.contentMainLogin{
	margin: 5px;
	padding: 120px 20px;
	background: #D7E6F4;
	width: 180px;
}