.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #FEFCEF;
    color: #000;
    border-radius: 20px;
    padding: 25px;
    margin-top: 160px;
    margin-left: 50px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul> li {
    padding: 10px;
}
.menu a {
    display: block;
    height: 25px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}

.menu ul li:hover {
    background-color: #D7E6F4;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1.2em;
    margin: auto;
    padding: 0 0 0 65px;
}

.menu ::before {
    font-size: 1.5em;
    float: left;
    clear: left;
}


}