.all {
	width: 70%;
	margin : 100px 350px;
}

.all_title {
    font-size: 3rem;
}

p {
	font-size: 1rem;
}


.info {
	font-size: 1.2rem;
	display: flex;
	width: 100%;
	padding: 30px 0;
	border-top: 2px solid #000;
   	width: 530px;
}

.info .info-title{
	display: inline-block;
	line-height: 50px;
}

#t_b {
	height: 35px;
}

.info .info-content{
	display: inline-block;
	margin: auto;
	line-height: 50px;
	margin-left: 100px;
}


.b {
	border: none;
	width: 70px;
	height: 40px;
	margin-left: 450px;
	background-color: #0B1F54;
    color: #fff;
    text-decoration: none;
}

.b:hover {
   background: #1b4c68;
   opacity: 0.6;
}


