.all{
	display: flex;
	position: relative;
}

.all #info {
	border-style: solid;
	border-color: #1b4c68;
	table-layout: fixed;
	display: block;
    width: 45%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: -40px;
    border-radius: 20px;
}

.all #info table{
	font-size: 1.3em;
	text-align: center;
	margin: auto;
	margin-top: 7%;
	width: 400px;
	line-height: 50px;
}

.modi-b {
	border: none;
	font-size: 1.3em;
	text-align: center;
	width: 80px;
	height: 40px;
	margin-top: 55px;
	margin-left: 68%;
	line-height: 10px;
	background-color: #1b4c68;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}

.modi-b:hover {
   background: #1b4c68;
   opacity: 0.6;
}

