.all {
	text-align : center;
	margin-top : 5%;
	margin-left: 4%;
}

h1 {
	margin-right: 25%;
}

.info {
	margin-top: 5%;
	margin-right: 13%;
}

.info .info-title{
	display: flex;
	display: inline-block;
	font-size: 1.5em;
	margin: auto;
	width: 200px;
	line-height: 50px;
}

.info .info-content{
	display: flex;
	display: inline-block;
	font-size: 1.3em;
	text-align: center;
	margin: auto;
	width: 200px;
	line-height: 50px;
}


.b {
	border: none;
	width: 70px;
	height: 40px;
	margin-top: 55px;
	margin-left: 25%;
	background-color: #0B1F54;
    color: #fff;
    text-decoration: none;
}

.b:hover {
   background: #1b4c68;
   opacity: 0.6;
}


