.all {
	width: 70%;
	margin : 100px 350px;
}

.all_title {
    font-size: 3rem;
}

p {
	font-size: 1rem;
}


.info {
	font-size: 1.2rem;
	display: flex;
	width: 100%;
	padding: 20px 0;
	border-top: 2px solid #000;
   	width: 530px;
}

.info .info-title{
	display: flex;
	display: inline-block;
	margin: auto;
	width: 200px;
	line-height: 50px;
}

#t_b {
	height: 35px;
}

.info .info-content{
	display: flex;
	display: inline-block;
	margin: auto;
	width: 200px;
	line-height: 50px;
}


.btn_a {
	margin-top: 20px;
	margin-left: 120px;
}

.btn_a .cancel{
	margin-right: 50px;
	display: inline-block;
	border: none;
	width: 70px;
	height: 40px;
	background-color: #0B1F54;
    color: #fff;
    text-decoration: none;
}
.btn_a .completed{
	margin-left: 50px;
	display: inline-block;
	border: none;
	width: 70px;
	height: 40px;
	background-color: #0B1F54;
    color: #fff;
    text-decoration: none;
}

.btn_a .cancel:hover {
   background: #1b4c68;
   opacity: 0.6;
}

.btn_a .completed:hover {
   background: #1b4c68;
   opacity: 0.6;
}

