<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.am.mapper.customerMapper">

	<resultMap type="com.care.am.dto.customerDTO" id="customer">
		<id property="cId" column="c_id"/>
		<result property="cPw" column="c_pw"/>
		<result property="cName" column="c_name"/>
		<result property="cTel" column="c_tel"/>
		<result property="cEmail" column="c_email"/>
		<result property="cSessionId" column="c_session"/>
	</resultMap>
	
	<resultMap type="com.care.am.dto.recentlyViewDTO" id="recentlyView">
		<id property="rvNo" column="rv_no" />
		<result property="cId" column="c_id" />
		<result property="mId" column="m_id" />
	</resultMap>
	
	<resultMap type="com.care.am.dto.mediDTO" id="medi">
		<id property="mName" column="m_name" />
		<result property="mAddr" column="m_addr" />
		<result property="mTel" column="m_tel" />
		<result property="mId" column="m_id" />
		<result property="mPw" column="m_pw" />
		<result property="mPhoto" column="m_photo" />
		<result property="openTime" column="open_time" />
		<result property="lunchStartTime" column="lunch_start_time" />
		<result property="lunchEndTime" column="lunch_end_time" />
		<result property="closeTime" column="close_time" />
		<result property="mSession" column="m_session" />
	</resultMap>
	
	<select id = "getCustomer" resultMap="customer">
		select * from customer where c_id=#{cId}
	</select>
	<select id="idCheck" resultType="boolean">
		select count(*) from customer where c_id= #{id}
	</select>
	<select id="customerSearchId" resultMap="customer">
		select * from customer where c_name=#{inputName} and c_email=#{inputEmail}
	</select>
	<update id="customerPwChg">
		update customer set c_pw =#{cPw} where c_id=#{cId}
	</update>
	<update id="keepLogin">
		update customer set c_session=#{cSessionId} where c_id=#{cId}
	</update>
	<insert id="register">
   		insert into customer(c_id,c_pw,c_name,c_tel,c_email) values (#{cId}, #{cPw},#{cName},#{cTel},#{cEmail})
    </insert>
    <select id="getCustomerSessionId" resultMap="customer">
		select * from customer where c_session = #{cSessionId}
	</select>
	<update id="customerPwdChg">
		update customer set c_pw=#{cPw} where c_id =#{cId}
	</update>
	<update id="customerModify">
		update customer set c_name=#{cName}, c_tel=#{cTel}, c_email=#{cEmail} where c_id=#{cId}
	</update>
    <delete id="customerDelete">
    	delete from customer where c_id=#{cId}
    </delete>
    
  	<!-- 최근 본 병원 -->
    <insert id="addRecentlyView">
    	insert into recently_view(rv_no,c_id,m_id) values (rv_no, #{cId}, #{mId})
    </insert>
    <delete id="delRecentlyView">
    	delete from recently_view where c_id = #{cId}
    </delete>
	<select id="getRecentlyView"  resultType="map">
		SELECT MAX(rv.rv_no) AS rv_no, rv.c_id, rv.m_id, m.m_name, m.m_photo
		FROM recently_view rv
		JOIN medi m ON rv.m_id = m.m_id 
		WHERE rv.c_id=#{cId} 
		GROUP BY rv.c_id, rv.m_id, m.m_name, m.m_photo
		ORDER BY rv_no DESC 
		LIMIT 3;
	</select>
	
</mapper>