<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.am.mapper.customerMapper">

	<resultMap type="com.care.am.dto.customerDTO" id="customer">
		<id property="cId" column="c_id"/>
		<result property="cPw" column="c_pw"/>
		<result property="cName" column="c_name"/>
		<result property="cTel" column="c_tel"/>
		<result property="cEmail" column="c_email"/>
		<result property="cSessionId" column="c_session"/>
	</resultMap>
	
	<select id = "getCustomer" resultMap="customer">
		select * from customer where c_id=#{cId}
	</select>
	<select id="customerSearchId" resultMap="customer">
		select * from customer where c_name=#{inputName} and c_email=#{inputEmail}
	</select>
	<update id="customerPwChg">
		update customer set c_pw =#{cPw} where c_id=#{cId}
	</update>
	<update id="keepLogin">
		update customer set c_session=#{cSessionId} where c_id=#{cId}
	</update>
	<insert id="register">
   		insert into customer(c_id,c_pw,c_name,c_tel,c_email) values (#{cId}, #{cPw},#{cName},#{cTel},#{cEmail})
    </insert>
    <select id="getCustomerSessionId" resultMap="customer">
		select * from customer where c_session = #{cSessionId}
	</select>
	<update id="customerPwdChg">
		update customer set c_pw=#{cPw} where c_id =#{cId}
	</update>
	<update id="customerModify">
		update customer set c_name=#{cName}, c_tel=#{cTel}, c_email=#{cEmail} where c_id=#{cId}
	</update>
    <delete id="customerDelete">
    	delete from customer where c_id=#{cId};
    </delete>
</mapper>