<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.am.mapper.reservationMapper">

	<resultMap type="com.care.am.dto.reservationDTO" id="reservation">
		<id property="rNum" column="r_num"/>
		<result property="mId" column="m_id"/>
		<result property="cId" column="c_id"/>
		<result property="rContent" column="r_content"/>
		<result property="rDate" column="r_date"/>
		<result property="rTime" column="r_time"/>
		<result property="rApply" column="r_apply"/>
		<result property="rName" column="r_name"/>
		<result property="rTel" column="r_tel"/>
	</resultMap>
	
	<resultMap type="com.care.am.dto.petDTO" id="pet">
		<id property="pNum" column="p_num"/>
		<result property="pName" column="p_name" />
		<result property="pSection" column="p_section" />
		<result property="pType" column="p_type" />
		<result property="pAge" column="p_age" />
		<result property="pSex" column="p_sex" />
		<result property="cId" column="c_id" />
		<result property="pPhoto" column="pPhoto" />
	</resultMap>
	
	<resultMap type="com.care.am.dto.customerDTO" id="customer">
		<id property="cId" column="c_id"/>
		<result property="cPw" column="c_pw"/>
		<result property="cName" column="c_name"/>
		<result property="cTel" column="c_tel"/>
		<result property="cEmail" column="c_email"/>
		<result property="cSessionId" column="c_session"/>
	</resultMap>
	
	<select id="reservationList" resultType="map">
		select reservation.r_num, reservation.r_date, reservation.r_time, pet.p_name, medi.m_name, reservation.r_apply, reservation.r_content
		from reservation
		join medi ON reservation.m_id = medi.m_id
		join pet ON reservation.p_num = pet.p_num where reservation.c_id=#{cId} order by reservation.r_date asc, reservation.r_time asc 
	</select>

	<select id="mediList" resultType="map">
		select * from medi
	</select>
	
	<select id="mediInfo" resultType="map">
		select * from medi where m_name = #{mediName}
	</select>
	
	<select id="mediTime" resultType="map">
		select open_time, lunch_start_time, close_time, lunch_end_time
			from medi 
		where m_name = #{name}
	</select>

	<select id="petList" resultType="map">
		select * from pet where c_id = #{c_id}
	</select>
	
	<insert id="reservationRegister">
		    insert into reservation 
      		(r_num, m_id, p_num, c_id, r_content, r_date, r_time, r_name, r_tel)
      		values (r_num, 
            (select m_id from medi where m_name=#{mName}), 
            (select p_num from pet where p_name=#{pName}),#{cId}, #{rContent}, #{rDate}, #{rTime}, #{rName}, #{rTel});
	</insert>
	
	<select id="reservationDate" resultType="map">
		select DISTINCT r_date 
			from reservation 
		where m_id=(select m_id from medi where m_name=#{mName})
		order by r_date desc;
	</select>
	
	<select id="reservationTime" resultType="map">
		select count(r_time) 
			from reservation 
		where r_date=#{date} order by r_time asc;
	</select>
	
	<select id="reservationCount" resultType="map">
		select r_time, count(*) 
			from reservation 
		where m_id=(select m_id from medi where m_name=#{mName}) and 
				r_date =#{rDate} group by r_time;
	</select>
	
	<select id="peopleCount" resultType="map">
		select count(*) 
			from reservation 
		where m_id=(select m_id from medi where m_name=#{mName}) 
				and r_date = #{rDate} and r_time = #{rTime};
	</select>
	
	<update id="reserCancel">
		update reservation set r_apply="취소" where r_num=#{rNum}
	</update>
	
	<update id="reserState">
		update reservation set r_apply=#{apply} where r_num=#{num}
	</update>

	<!-- 병원 팝업 예약 정보 -->
	<select id="reservationInfo" resultType="map">
		select customer.c_email, reservation.r_date, reservation.r_time, reservation.r_name, customer.c_tel, pet.p_section, pet.p_type, pet.p_name, pet.p_sex, pet.p_age, reservation.r_content, pet.p_photo
		from reservation 
		join customer on reservation.c_id = customer.c_id
    	join pet on reservation.p_num = pet.p_num
		where reservation.r_num = #{rNum}
	</select>
	
	<!-- 병원 새로운 접수 리스트 -->
	<select id="waitList" parameterType="hashMap" resultType="map">
		select r_time, r_content, r_apply, r_date, p_type, r_num
		from reservation, pet
		where m_id = ${mId} and  r_apply = "대기"
		order by r_date 
		limit #{start}, #{limit}
	</select>
	
	<!-- 병원 새로운 접수 페이징 -->
	<select id="waitListPaging" resultType="Integer">
		select 
		count(*) from reservation left join pet on reservation.p_num = pet.p_num
		where reservation.m_id = #{mId} and not reservation.r_apply in('대기')
	</select>
	
	<!-- 병원 승인취소 리스트 -->
	<select id="ACList" parameterType="hashMap" resultType="map">
		select r_time, r_content, r_apply, r_date, p_type
		from reservation, pet
		where m_id = ${mId} and not r_apply in ("대기")
		order by r_date 
		limit #{start}, #{limit}
	</select>
	
	<!-- 병원 승인취소 페이징 -->
	<select id="ACListPaging" resultType="Integer">
		select 
		count(*) from reservation left join pet on reservation.p_num = pet.p_num
		where reservation.m_id = #{mId} and not reservation.r_apply in('대기')
	</select>
	

</mapper>