<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.am.mapper.reservationMapper">

	<select id="mediList" resultType="map">
		select * from medi
	</select>
	
	<select id="mediInfo" resultType="map">
		select * from medi where m_name = #{mediName}
	</select>
	
	<select id="mediTime" resultType="map">
		select open_time, lunch_start_time, close_time, lunch_end_time
			from medi 
		where m_name = #{name}
	</select>

	<select id="petList" resultType="map">
		select * from pet
	</select>
	
	<insert id="reservationRegister">
		insert into reservation 
		values (r_num, 
				(select m_id from medi where m_name=#{mName}), 
				(select p_num from pet where p_name=#{pName}), 
				#{cId}, #{rContent}, #{rDate}, '대기', #{rName}, #{rTel}, #{rTime});
	</insert>
	
</mapper>