@charset "UTF-8";

#searchWindow {
	border: 3px solid #3F4F78;
	margin: auto;
	margin-top: 70px;
  	width: 650px;
  	height: 50px;
  	padding-top: 7px;
}

.search{
	border: none;
	width: 610px;
	outline: none;
	padding-left: 15px;
	font-weight : bold;
	font-size: 20px;
}

#table{
	position: relative;
	margin-right: 100px;
}













